@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared styles */
*{
  margin: 0;
  padding: 0;
}
.bg-light{
  
background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
  display: flex;
}
.btn{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
 
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
/* header styles  */


/* navbar related styles */
nav{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
 
}
.brand{
  font-style: Bold;
font-size: 3rem;
margin-top: 50px;

}

.nav-link{
  text-decoration: none;
  font-weight: 500px;
  color:  rgba(66, 66, 66, 1);
 
}
.nav-links{
  margin-top: 50px;
}

nav , .banner,main,footer{
  width: 71%;
max-width: 1440px;
margin: 0 auto;
/* margin upore niche 0, right left auto */
}

/* banner related styles */
.banner-content{
max-width: 850px;
margin: 0 auto;
text-align: center;
}
.banner-title{
  color: rgba(19, 19, 19, 1);
  font-weight: 700;
  font-size:3rem;
  margin-bottom: 20px;
margin-top: 102px;
}

 .my-btn{

margin-top: 33px;
margin-bottom: 50px;
} 
.banner-des, .feature-des , .pt-1{
  color: rgba(114, 114, 114, 1);
}
.banner img{
margin-bottom: 20px;
width: 100%;
}

/* team and feature related styles */
.teams{
  align-items: center;
}
.team-image-container
{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 24px;
   margin-top: 85px;
   border-radius: 8px;
}
.our-features{
  margin-left: 76px;
  margin-bottom: 34px;
  max-width: 530px;
}

.feature-title{
margin-bottom: 24px;
}
.feature-des{
  margin-bottom: 32px;
}

.pt-1{
  font-weight: 500;
}
.pt-2{
  color: #FF900E;
}
/* features you will love */
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.feature-title{
  color: rgba(19, 19, 19, 1);
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 30px;
  margin-bottom: 10px;
}
.feature-description{
  max-width: 586px;
}



.feature-card{
  padding: 30px;
  box-shadow:  0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  max-width: 586px;
  border-radius: 8px;
}
.features {
  gap: 146px;
}

.sundori{
  margin-top: 130px;
}

/* some facts */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
 width: 240px;
 height: 240px;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
#facts-description{
  max-width: 540px;
  margin-top: 24px;
  margin-bottom: 100px;
}
.section-title{
  margin-top: 168px;
}


/* our sponsors */
.sponsor-info{
max-width: 540px;
margin: 50px auto;
text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}
.sponsor-companies img{
filter: grayscale(100%);
}
.section-title{
  margin-bottom: 24px;
}


/* footer related styles */
.footer-paragraph{
  text-align: center;
  padding:38px 410px;
  font-size: 1.25rem;
  color:rgba(66, 66, 66, 1);
  background: rgba(255, 244, 231, 1);
  border-radius: 8px;
  font-weight: 400;
  max-width: 1440px;
}
.footer-sec{
  margin-top: 130px;
  margin-bottom: 216px;
}
/* responsive media query */
@media screen and (max-width:576px) {
  nav, 
  .nav-links ,
  .teams
 {
    flex-direction: column;
  }
 .team-image-container ,
 .facts-container ,
  .sponsor-companies
 {
grid-template-columns: repeat(1,1fr);
} 
.our-features{
  margin-left: 0;
  
} 
.facts-container
{
  gap: 20px;
justify-items: center;
}
.sponsor-companies{
  justify-items: center;
  gap: 50px;
}
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
 
  .our-features{
    margin: 20px auto;
    /* upore niche 20px dane bame auto */
    
  }
  .teams
 {
    flex-direction: column;
  }

}